{{ ansible_managed|default(_vaultwarden_ansible_managed)|comment }}

[Unit]
Description =  VaultWarden (https://github.com/dani-garcia/vaultwarden)
After = network.target postgresql.service mysql.service
{% if vaultwarden_required_service is defined %} Required = {{ vaultwarden_required_service }} {% endif %}

[Service]
User = vaultwarden
Group = vaultwarden
ExecStart = {{ vaultwarden_directory }}/vaultwarden
# Set reasonable connection and process limits
LimitNOFILE=1048576
LimitNPROC={{ vaultwarden_proc_limit | default(128) }}
# Isolate vaultwarden from the rest of the system
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
WorkingDirectory = {{ vaultwarden_directory }}
EnvironmentFile={{ vaultwarden_directory }}/.env
ReadWriteDirectories={{ vaultwarden_directory }}
MemoryDenyWriteExecute=true

[Install]
WantedBy = multi-user.target
